appdirs
apturl
asn1crypto
astunparse
bcrypt
beniget
binwalk
blinker
brlapi
brotli
chardet
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
equinox
evdev
fasteners
flatbuffers
fqdn
fs
future
gast
google-auth-oauthlib
google-pasta
gpg
html5lib
img2pdf
importlib-metadata
isoduration
jax-cuda12-plugin
jeepney
jsonpointer
jupyter
keras
language-selector
launchpadlib
libclang
lockfile
louis
lxml
lz4
macaroonbakery
mako
matplotlib
mechanize
monotonic
more-itertools
netifaces
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cusolver-cu12
nvidia-nccl-cu12
nvitop
olefile
optax
pandas
paramiko
pdfarranger
pikepdf
pip-chill
ply
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyopengl
pyqt5
pyqtgraph
pyrfc3339
python-apt
python-debian
python-xlib
pythran
pyudev
pyxdg
reportlab
scour
screen-resolution-extra
secretstorage
soupsieve
systemd-python
tensorboard
tensorflow-io-gcs-filesystem
torchaudio
torchvision
ubuntu-drivers-common
ubuntu-pro-client
ufolib2
ufw
unattended-upgrades
unicodedata2
uri-template
usb-creator
virtualenv
wadllib
webcolors
wrapt
xdg
xkit
zipp
